webHelp*
.idea
uml
temp
# Default ignored files
/http.iws
# Default ignored files
/ci-cd-github-actions-new.iws
# Default ignored files
/linux-command-line-all-in-one.iws
# Default ignored files
/rgpd.iws